 <!DOCTYPE html>

 <html>

   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>

   <body>
     <h1>You are now following, "<%= @post.title %>"</h1>
     <p>
       <%= @post.body %>
     </p>
     <p>
       <%= link_to "View post on site", topic_post_url(@post.topic, @post) %>
     </p>
   </body>

 </html>
