<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<!-- # DOES NOT WORK # 
<button class="social-btn"><%= link_to "Follow me", "https://www.facebook.com/trybloc" %></button> 
--!>


<%= button_to "Follow me", "https://www.facebook.com/trybloc", class: "social-btn" %>
