// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.social-btn { 
  width: 100px;
  height: 35px;
  background: whitesmoke;
  border: 2px solid lightblue;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  text-align: center;
}
